services:
  db:
    image: mysql:8.0
    container_name: 7events-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    image: msoftsantana/7events:backend-latest
    container_name: 7events-backend
    ports:
      - "4000:4000"
    environment:
      PORT: 4000
      DATABASE_URL: mysql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
      FRONTEND_URL: ${FRONTEND_URL}
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    restart: always

  frontend:
    image: msoftsantana/7events:frontend-latest
    container_name: 7events-frontend
    environment:
      - VITE_GOOGLE_LOGIN_ENABLED=${VITE_GOOGLE_LOGIN_ENABLED:-false}
      - VITE_API_URL=${VITE_API_URL:-http://localhost:4000}
    networks:
      - app-network
    restart: always

  frontend-qrcode:
    image: msoftsantana/7events:frontend-qrcode-latest
    container_name: 7events-frontend-qrcode
    environment:
      - VITE_API_URL=${VITE_API_URL:-http://localhost:4000}
    ports:
      - "5174:80"
    networks:
      - app-network
    restart: always

  nginx:
    image: nginx:alpine
    container_name: 7events-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend
    networks:
      - app-network
    restart: always

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
