services:
  backend:
    image: msoftsantana/7events:backend-latest
    container_name: 7events-backend
    ports:
      - "4000:4000"
    environment:
      PORT: 4000
      DATABASE_URL: mysql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
    volumes:
      - ./uploads:/app/uploads
    networks:
      - app-network
    restart: always

  frontend:
    image: msoftsantana/7events:frontend-latest
    container_name: 7events-frontend
    networks:
      - app-network
    restart: always

  nginx:
    image: nginx:alpine
    container_name: 7events-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge
